You're invited to collaborate on <%= @topic %> at <%= @time.strftime("%m/%d/%Y at %I:%M%p") %>...
<br/>
<br/>
Topic: <%= @topic %>
<br/>
When: <%= @time.strftime("%m/%d/%Y at %I:%M%p") %>
<br/>
Where: <%= link_to "http://drop.io/#{@drop.name}", "http://drop.io/#{@drop.name}" %>
<br/>
Conference Line: <%= @drop.conference %>
<br/>
<br/>
Use the Drop to collaborate, add files, notes, comments, links, documents, etc.
<br/><br/>
<%= @message %>
<br/><br/>
You are receiving this email because <%= @coordinator %> sent you this message. If you got this message in error, we're sorry and won't send you another email.

<a href="http://collab.io">collab.io</a> is brought to you by <a href="http://drop.io">drop.io</a>

Learn more about the <a href="http://drop.io">drop.io</a> API at <a href="http://api.drop.io">http://api.drop.io</a>